body{
    text-align: center;
    font-family: Arial, sans-serif;
    color: rgb(239, 94, 27);

}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 110px solid red;
    margin: 0 auto;
}

